<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution>
         <nextCatalog
               catalog="switchyard_reqs_catalog.xml">
         </nextCatalog>
         <nextCatalog
               catalog="switchyard_catalog_1.0.xml">
         </nextCatalog>
         <nextCatalog
               catalog="switchyard_catalog_1.1.xml">
         </nextCatalog>
      </catalogContribution>
   </extension>

</plugin>
