<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution>
         <nextCatalog
               catalog="switchyard_catalog.xml">
         </nextCatalog>
      </catalogContribution>
   </extension>
   <extension
         point="org.eclipse.wst.xml.core.modelQueryExtensions">
      <modelQueryExtension
            class="org.switchyard.tools.xsd.SwitchYardModelQueryExtension"
            contentType="org.switchyard.content-type.1.x">
      </modelQueryExtension>
   </extension>

</plugin>
